svg {
  width: 70%;
  height: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas: 
    "a b b c"
    "a d e f"
    "g g e h"
    "i j j h";
  width: 1000px;
  margin: 0 auto;

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $orange;
    outline: 1px solid $orange;

    &:nth-child(1) { grid-area: a; }
    &:nth-child(2) { grid-area: b; }
    &:nth-child(3) { grid-area: c; }
    &:nth-child(4) { grid-area: d; }
    &:nth-child(5) { grid-area: e; }
    &:nth-child(6) { grid-area: f; }
    &:nth-child(7) { grid-area: g; }
    &:nth-child(8) { grid-area: h; }
    &:nth-child(9) { grid-area: i; }
    &:nth-child(10) { grid-area: j; }

    .category {
      align-self: flex-end;
      position: absolute;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .6rem;
      font-family: $font-text-light;
      padding-bottom: 1.3rem;
      color: white;
      opacity: 0;
    }

    &:hover {
      background: $navy-blue;
      cursor: pointer;
    }

    &:hover .category {
      opacity: 1;
    }
  }
}

