svg { width: 70%; height: 70%; }
#mascara svg { width: 45%; }
#nail_polish svg { width: 40%; }
#lipstick svg { width: 36%; }
#bronzer svg { width: 48%; }
#eyebrow svg { width: 80%; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40vh 30vh repeat(3, minmax(20vh, 1fr)) 30vh 30vh;
  grid-template-areas: 
    "a a"
    "b b"
    "c d"
    "e h"
    "f i"
    "g g"
    "j j";
  padding: 1rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $orange;
    outline: 1px solid $orange;

    &:nth-child(1) { grid-area: a; }
    &:nth-child(2) { grid-area: b; }
    &:nth-child(3) { grid-area: c; }
    &:nth-child(4) { grid-area: d; }
    &:nth-child(5) { grid-area: e; }
    &:nth-child(6) { grid-area: f; }
    &:nth-child(7) { grid-area: g; }
    &:nth-child(8) { grid-area: h; }
    &:nth-child(9) { grid-area: i; }
    &:nth-child(10) { grid-area: j; }

    &__category {
      align-self: flex-end;
      position: absolute;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .6rem;
      font-family: $font-text-light;
      padding-bottom: 1.3rem;
      color: white;
      opacity: 0;

      @media screen and (max-width: $bp-small){
        font-size: 1.4rem;
        letter-spacing: .2rem;
      }

      @media #{$mq-large} {
        font-size: 1.2rem;
        padding-bottom: 1rem;
      }
    }

    &:hover {
      background: $navy-blue;
      cursor: pointer;
    }

    &:hover &__category {
      opacity: 1;
    }
  }

  @media #{$mq-medium} {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 30rem);
    grid-template-areas: 
      "a c"
      "a d"
      "b e"
      "g g"
      "j j"
      "h f"
      "h i"
  }

  @media #{$mq-large} {
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(4, 180px);
    grid-template-areas: 
      "a b b c"
      "a d e f"
      "g g e h"
      "i j j h";
    width: 720px; 
    margin: 0 auto;

    #mascara svg { width: 70%; }
  }
  

  @media #{$mq-xlarge} {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: 
      "a b b c"
      "a d e f"
      "g g e h"
      "i j j h";
    width: 1000px;
    margin: 0 auto;

    svg {
      width: 70% !important;
      height: 70% !important;
    }
  }
    
}



