.header {
  text-align: center;
  padding: 8rem 0;

  &__logo {
    margin-bottom: 6rem;
  }

  &__logo span {
    @include span-bg;
  }

  @media screen and (max-width: $bp-medium){
    padding: 6rem 1rem;

    &__logo {
      margin-bottom: 3rem;
    }

    &__logo span {
      @include span-bg--medium;
    }

    p {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }
}



  