// Colors
$pink: #FBCDDC;
$orange: #EA5A4B;
$navy-blue: #191E50;
$pale-purple: #716396;

// Mixins
@mixin span-bg {
  background: $navy-blue;
  color: white;
  font-size: 2rem;
  padding: .7rem;
  letter-spacing: 1rem;
  padding-left: 1.7rem;

  @media #{$mq-large} {
    font-size: 1.7rem;
  }
}

@mixin span-bg--medium {
  background: $navy-blue;
  color: white;
  font-size: 1.5rem;
  padding: .7rem;
  letter-spacing: .7rem;
  padding-left: 1.7rem;
}

// Breakpoints
$bp-small: 30em; // 480px
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 120em; // 1920px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";